html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family-pt-serif;
    border: 15px solid $c-green;
}

body {
    font-family: $font-family-pt-serif;
    font-size: 1.6rem;
    padding: 60px 0;

    @include respond-to('mobile-large') {
        padding: 30px 0;
    }
}

h1 {
    font-family: $font-family-pt-serif;
    font-weight: 400;
}

h2 {
    font-family: $font-family-pt-serif;
    font-weight: 400;
    margin-bottom: 15px;
}

h3 {
    font-family: $font-family-pt-serif;
    font-weight: 400;
}

h4 {
    font-family: $font-family-poppins;
    font-weight: 600;
}

h5 {
    font-family: $font-family-pt-serif;
    font-weight: 400;
}

h6 {
    font-family: $font-family-pt-serif;
    font-weight: 400;
}

p {
    font-family: $font-family-pt-serif;
    font-weight: 400;

    .page-node-type-blog & {
        font-size: 1.8rem;
    }
}

strong,
b {
    font-family: $font-family-poppins;
    font-weight: 600;

    .page-node-type-blog & {
        font-size: 1.8rem;
    }
}

.page-node-type-blog,
.page-node-type-page {
    .node__content {
        max-width: 820px;
        margin: 0 auto;
    }
}
