.biteclub-instagram-block {
    text-align: center;
    display: inline-block;
    margin: 40px 0;
    width: 100%;

    h2 {
        font-family: $font-family-poppins;
        font-weight: 600;
        margin-bottom: 20px;
    }
}
