header {
    margin-bottom: 50px;

    .region-header {
        width: 100%;

        @include respond-to('tablet') {
            width: 50%;
            float: left;
        }
    }

    .region-primary-menu {
        width: 100%;

        .navbar {
            @include respond-to('tablet') {
                display: inline-block;
                width: 100%;
                text-align: right;
            }
        }

        .navbar-toggler {
            color: rgba(0, 0, 0, .5);
            border-color: rgba(0, 0, 0, .1);
            position: absolute !important;
            right: 15px !important;
            top: 0 !important;
            padding: 5px;
            display: none;

            @include respond-to('desktop') {
                display: block;
                margin-top: 30px;
            }

            @include respond-to('tablet') {
                display: block;
                margin-top: 10px;
            }

            @include respond-to('mobile-large') {
                display: block;
                margin-top: -5px;
            }
        }

        .navbar-toggler-icon {
            height: 1px;
            background: $c-black;
            display: inherit;
            margin: 5px;
        }
    }


    .site-branding {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        max-width: 550px;
    }
}
