@import url('https://fonts.googleapis.com/css?family=Cantata+One|Poppins:400,600,700|PT+Serif:400,700&display=swap');

$font-family-pt-serif: 'Cantata One', serif;
$font-family-poppins: 'Poppins', sans-serif;
$font-family-pt-serif: 'PT Serif', serif;
